$main-color: black;
$google: #4285F4;

.btn {
  padding: 12px;
  border: 1px solid $main-color;
  background-color: $main-color;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;

  &:hover {
    background-color: white;
    color: $main-color;
  }

  &.google-btn {
    background-color: $google;
    border: 1px solid $google;
    color: white;

    &:hover {
      background-color: #357ae8;
    }
  }
}
